<ion-view title="Location" id="page3">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div ng-if="checkin.map"  style="border: 1px solid #ccc; border-radius: 2px">
            <img ng-src="{{checkin.map}}" alt="" style="width:100%">
        </div>
        <div>
            <p>
                Address:
            </p>
            <p ng-bind-html="checkin.address | nl2br"></p>
        </div>
        <div>
            <p>
                Description:
            </p>
            <p ng-bind-html="checkin.description | nl2br"></p>
        </div>
    </ion-content>
</ion-view>