<ion-view hide-back-button="true" title="My Checkins" id="page1">
    <ion-nav-buttons side="right">
        <button class="button icon ion-navigate" ui-sref="checkin"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <ion-list>
            <ion-item ng-repeat="checkin in Session.checkins" ui-sref="location({id: checkin.id})">
                {{checkin.address | limitTo: 50}}
                <ion-option-button class="button-assertive icon ion-trash-a" ng-click="removeCheckin(checkin)"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>